/* styles.css */

/* Label styles */
.label {
    -fx-font-size: 18;
    -fx-text-fill: #333;
}

/* Button styles */
.button {
    -fx-font-size: 14;
    -fx-padding: 10 20;
}

/* Top level BorderPane style (main layout) */
.border-pane {
    -fx-background-color: #f4f4f4;
}

/* Go back button style */
#go-back-button {
    -fx-background-color: #607D8B;
    -fx-text-fill: white;
}
.attendanceBackground {
    -fx-background-color: #333333; /* Greyish black */
    -fx-text-fill: white; /* White text */
}